@model MVCpgs.Models.NoteViewModels

@{
    ViewBag.Title = "";
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
}

<div>
    <h1>Dziekujemy za kontakt ,@Model.Name</h1>
    postaramy sie oppowiedziec na twoje pytanie
</div>